<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<body>
    <footer th:fragment="footer" class="footer text-muted small text-center">
        "EVE", "EVE Online", "CCP" and all related logos and images are trademarks or registered trademarks of
        <a href="http://www.ccpgames.com/" target="_blank" rel="noopener noreferrer">CCP hf</a>.

        <a href="https://github.com/tkhamez/eve-tools" target="_blank"
           rel="noopener noreferrer" title="EVE Tools on GitHub" class="github">
            <img src="/assets/GitHub-Mark-16px.png" alt="GitHub">
        </a>
    </footer>
</body>
</html>
