<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:fragment="head">
	<title>EVE Tools</title>

	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta charset="utf-8">

	<link rel="shortcut icon" href="/assets/favicon.ico" />

	<script src="/vendor/jquery-3.2.1.min.js"></script>
	<script src="/vendor/popper.min.js"></script>

	<link rel="stylesheet" href="/vendor/bootswatch/darkly/bootstrap.min.css" />
	<script src="/vendor/bootstrap/bootstrap.min.js"></script>

	<link rel="stylesheet" href="/vendor/datatables/datatables.min.css" />
	<script src="/vendor/datatables/datatables.min.js"></script>

	<script src="/vendor/eve-map/Route.js"></script>

	<link rel="stylesheet" href="/assets/styles.css" />
	<script src="/assets/scripts.js"></script>
</head>

<body>
</body>
</html>
